<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Torrent Search</title>
  
  <style type="text/css">
  h1 {
    font-size: 36px;
    line-height: 40px;
    font-family: 'Scada', sans-serif;
}
  	
  </style>
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>


  <form method="post" class="form-wrapper cf">
  <h1>zTorrent</h1>
  <h2>Looking For Something?</h2><br>
  	<input type="text" name="search" placeholder="Search here..." required>
  	Category:<br>
  	<select class="form-control" name="cat" id="sel1">
        <option>All</option>
        <option>Movies</option>
        <option>TV</option>
        <option>Apps</option>
        <option>Music</option>
      </select>
  	<br>
  	<br>
	  <button type="submit">Search</button>
</form>

</body>
</html>